<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MVD gSFL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ffd0584dac.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
  </head>
  <body>
    <nav>
      <div>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a class="logo" href="{{ url_for('home') }}" >gSFL MVD</a>
        <span class="current-user">{{currentUser}}</span>
        <ul>
            <li><a href="{{ url_for('DTmanagement') }}">DT-management</a></li>
            <li><a href="{{ url_for('assets') }}">Assets</a></li>
            <li><a href="{{ url_for('policies') }}">Policies</a></li>
            <li><a href="{{ url_for('contractdefinitions') }}">Contract Definitions</a></li>
            <li><a href="{{ url_for('catalog') }}">Catalog</a></li>
            <li><a href="{{ url_for('acceptedcontracts') }}">Accepted Contracts</a></li>
            <li><a href="{{ url_for('receivedData') }}">Received Data</a></li>
        </ul>
      </div>
    </nav>
    <section>

      <div class="alerts-container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }} fade show" id="alert">
                {{ message }}
                <script type="text/javascript">
                    setTimeout(function () {
                        // Closing the alert
                        $('#alert').alert('close');
                    }, 4000);
                </script>
            </div>
        {% endfor %}
      </div>

      {% block content %} 
    
      {% endblock %}
    </section>
  </body>
</html>
