{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="headContainer">
        <h1 class="heading">Catalog</h1>
            <a href="{{ url_for('acceptedcontracts') }}" class="btn_linkToAcceptedContracts">
                to Accepted Contracts <i class="fa-solid fa-arrow-right"></i>
            </a>
    </div>

    <div class="box-container">

        {% for contract in catalogContracts %}
            <div class="box">
                <div class="box-content">
                    <!-- <img class="box-logo" src="{{ url_for('static', filename='Forwarder.png') }}">This is a comment -->
                    <h3 class="box-title">{{ contract["asset"]["properties"]["asset:prop:name"] }}</h3>
                </div>
                <h3> {{  contract["id"].split(":")[0]  }}</h3>
                {% for key, value in contract["asset"]["properties"].items() %}
                    {% if key == "asset:prop:contenttype" %}
                        {% set key = "Content Type" %}
                        <p><span class="key">{{ key }}</span> : {{ value }}</p>
                    {% elif key == "type" %}
                        <p><span class="key">{{ key }}</span> : {{ value }}</p> 
                    {% elif key == "duration" %}
                        <p><span class="key">Lease Duration</span> : {{ value }}</p>
                    {% endif %}
                {% endfor %}
                <p><span class="key">Asset-ID</span> : {{ contract['asset']['id'] }}</p>
                 <!-- <p>{{ contract.provider }}</p>This is a comment -->
                <form method="POST" action="/catalog">
                    <input type="hidden" name="catalogContractId" value="{{ contract['id'] }}">
                    <input type="hidden" name="assetId" value="{{ contract['asset']['id'] }}">
                    <input type="hidden" name="provider" value="{{ contract['companyUrl'] }}">
                    <input type="hidden" name="policy" value="{{ contract['policy'] }}">
                    <input type="hidden" name="validity" value="{{ contract['validity'] }}">
                    <button type="submit" class="btn">negotiate</button>
                </form>
            </div>
        {% endfor %}

    </div>

</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='catalog.css') }}">
{% endblock %}